<%= form_for(ikbc) do |f| %>
  <% if ikbc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ikbc.errors.count, "error") %> prohibited this ikbc from being saved:</h2>

      <ul>
      <% ikbc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keybord %>
    <%= f.text_field :keybord %>
  </div>

  <div class="field">
    <%= f.label :mouse %>
    <%= f.text_area :mouse %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
