<p id="notice"><%= notice %></p>

<p>
  <strong>Keybord:</strong>
  <%= @ikbc.keybord %>
</p>

<p>
  <strong>Mouse:</strong>
  <%= @ikbc.mouse %>
</p>

<%= link_to 'Edit', edit_ikbc_path(@ikbc) %> |
<%= link_to 'Back', ikbcs_path %>
